.header-wrapper {
  border-bottom: whitesmoke 1px solid;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  .header-inner {
    z-index: 4;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;

    a {
      text-align: center;
      text-decoration: none;
      color: black;
      font-size: 0.9rem;
      width: auto;
      margin: 0 5px;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }
    .header-logo {
      margin-right: 5%;
      display: flex;
      justify-content: center;
      a {
        img {
          width: 110px;
        }
      }
    }
    .header-group {
      display: flex;
      .header-product {
        display: flex;
        justify-content: center;
        margin-right: 12%;
      }

      .header-service {
        margin-left: 6%;
        display: flex;
        justify-content: center;
      }
    }

    .header-icon {
      display: flex;
      justify-content: center;
      margin-left: 3%;
      a {
        margin: 0 2%;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .header-menu {
      display: none;
      button {
        background: none;
        border: none;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
@media all and (max-width: 1200px) {
  .header-wrapper {
    display: flex;
    justify-content: center;

    .header-inner {
      display: flex;
      justify-content: center;
      padding: 0;
      margin-left: 1%;

      .header-group {
        display: none;
      }
      .header-logo {
        width: 10%;
      }
      .header-icon {
        width: 20%;
      }
      .header-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        position: relative;
        left: 25%;
        button {
          width: 24px;
        }
      }
    }
  }
}
