.recom1-wrapper {
  height: 800px;
  .recom1-title {
    font-family: samsungOne700;
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .tab {
    border-bottom: black 2px solid;
    padding-bottom: 5px;
  }
  .recom1-menu {
    text-align: center;
    a {
      font-size: 1.5rem;
      margin: 0 1%;
      color: black;
      text-decoration: none;
    }
  }
  img {
    margin: 50px auto 20px;
    width: 50%;
    height: 400px;
  }
  .recom1-actionTitle {
    text-align: center;
    font-size: 3rem;
    font-family: samsungOne700;
  }
  .recom1-buy {
    text-align: center;
    margin: 20px auto;

    width: 200px;
    padding: 10px 5px;
    background-color: black;
    border-radius: 45px;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
