.recom-wrapper {
  height: 800px;

  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  .recom-menu {
    text-align: center;
    margin-bottom: 3%;
    a {
      text-decoration: none;
      color: black;
      margin: 0 4%;
      font-size: 1.3rem;
    }
    .galaxy {
      border-bottom: black 3px solid;
      padding-bottom: 0.2%;
    }
  }
  .recom-items {
    display: grid;
    gap: 15px 1%;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    justify-content: center;
    .recom-item {
      width: 300px;
      height: 240px;
      border-radius: 12px;
      background-color: whitesmoke;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin: 10px auto;
        width: 60%;
        height: 130px;
      }
      a {
        margin: 10px auto;

        text-decoration: none;
        color: black;
      }
    }
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 1440px) {
  .recom-wrapper {
    .recom-items {
      grid-template-columns: auto auto auto;
    }
  }
}

@media all and (max-width: 768px) {
  .recom-wrapper {
    .recom-items {
      grid-template-columns: auto auto;
    }
  }
}
@media all and (max-width: 460px) {
  .recom-wrapper {
    .recom-items {
      grid-template-columns: auto;
    }
  }
}
